body
{
  font-family: Helvetica;
}
h1
{
    color:#375e97;
    font-family: Georgia;
    font-size:2em;
    border-bottom:5px,#375e97;
    border-bottom-style:dotted;
}
.job-title
{
    color:#999999;
}
h2
{
    font-size:1.5em;
}
ul
{
    background-color: #eeeeee;
    border:5px;
    border-style: solid;
    border-color: purple;
    padding: 30px;
}
a:link
{
    color:#82b8de;
}

a:visited
{
    color:#2b99e6;
}
a:hover
{
    text-decoration:none;
}

